<!-- <div class="section-stats">
  <div class="stat-card">
    <h3>{{ brands().length }}</h3>
    <p>Total Brands</p>
  </div>
  <div class="stat-card flex text-center items-center cursor-pointer" (click)="addNew()">
    <p class="text-center items-center w-full !text-blue-500">Add New</p>
  </div>
</div>

<div class="data-grid">
  <div *ngFor="let brand of brands()" class="data-card">
    <h4>{{ brand.name }}</h4>
    <p class="text-sm text-gray-600">ID: {{ brand.id }}</p>
    <div class="card-actions">
      <button class="btn-edit">Edit</button>
      <button class="btn-delete">Delete</button>
    </div>
  </div>
</div> -->
<app-data-table [displayedColumns]="['id', 'name']" [rowDatas]="brands()" (addNew)="actionEvents($event)"/>
